/* === Base Styles === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 1rem 3rem;
  background-color: rgb(76, 3, 145);
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  font-size: 25px;
}

#menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #FFD700;
  border-radius: 4px;
  color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: 0 auto;
  gap: 2rem;
  padding: 1rem;
}

main h2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.temple-image {
  text-align: center;
}

.temple-image img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  text-align: center;
  background-color: rgb(76, 3, 145);
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}